name: PR Validation

on:
  pull_request:
    branches: ["staging", "main"]
  workflow_dispatch:

jobs:
  pr-checks:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node 23 (Yarn)
        uses: actions/setup-node@v4
        with:
          node-version: '23'
          cache: 'yarn'

      - name: Install
        run: yarn install --frozen-lockfile

      - name: Lint
        run: yarn lint
